.main {
  padding: 20px;
  min-height: 70vh;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.actions {
  margin-top: 20px;
}

.primary {
  background-color: #4ade80;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.secondary {
  background-color: #3b82f6;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.recent {
  margin-top: 40px;
}
